node_modules
**/node_modules
.pnpm-store
.next
**/.next
dist
**/dist
coverage
**/coverage
.turbo
**/.turbo
*.tsbuildinfo
**/*.tsbuildinfo
playwright-report
**/playwright-report
test-results
**/test-results
.env
**/.env
npm-debug.log
.DS_Store
.git
.gitignore
