NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme
GITHUB_ID=
GITHUB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
API_BASE_URL=http://localhost:4000/api/taskforge
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000/api/taskforge/v1
